$purple: #4257B2; //for nav-bar
$dark-purple: #3B4C9B; //for nav-bar separators
$light-purple: #919DD2; //nav-bar hover
$lighter-purple: #C6CCE8; //for game progress
$dark-gray: #455358; //for sidebar text and other text
$gray: #97A5AA; //for lighter text on set items
$light-gray: #B5BBBD; //for small set items term count
$lighter-gray: #DADEE0; //for user header borders and setitems separators
$lightest-gray: #F0F0F0; //for sidebar borders
$teal: #3CCFCF; //view all, join class, create folder text
$yellow: #FFCD1F; //for hover
$white: #FFFFFF; //for sidebar and set items
$light-red: #FF8E7B; //for delete account button hover
$lighter-red: #FFD4CD; //for incorrect progress in write
$red: #FF725B; //for delete account button
$green: #23B26D; //for progress button on set item games progress
$light-green: #BCE8D3; //for game progress
$orange: #F08700; //for sometimes missed


