.deck-page {
    // padding-left: 60px;
    // padding-right: 60px;
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    // max-width: 940px;
    margin: auto;
}

.deck-page-top-wrapper {
  background-color: $white;
  display: flex;
  justify-content: center;
}

.deck-page-top-wrapper-inner {
  // max-width: 2000px;
  flex: 0.6;
}

.deck-page h1 {
    font-size: 32px;
    font-weight: 700;
    // padding-top: 40px;
    padding-bottom: 10px;
    // padding-left: 60px;
}

.deck-page-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.rating-div {
  display: flex;
}

.rating-div span {
  padding-right: 10px;
  color: $dark-gray;
}

.rating-div p {
  padding-left: 10px;
  color: $dark-gray;
}

.rating-stars i {
  padding-right: 5px;

}

.deck-page-top {
    display: flex;
    justify-content: center;
    background-color: $white;
    border-bottom: 2px solid $lightest-gray;
    padding-bottom: 40px;
}

.deck-page-learn {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.deck-page-learn a {
    font-size: 15px;
    display: block;
}

.deck-page-learn label {
    cursor: pointer;
}

.deck-page-learn label:hover {
    transition: color 0.15s ease;
    color: $yellow;
}

.deck-page-learn i {
    // margin-right: 10px;
    color: $purple;
    font-size: 18px;
}

.deck-page-learn a:first-of-type label {
    // margin-right: 10px;
    border-bottom: 4px solid $yellow;
}

.fa-buffer {
    padding-left: 2px;
    padding-right: 10px;
}

.fa-brain {
    padding-right: 8px;
}

.fa-pencil-alt {
    padding-left: 1px;
    padding-right: 9px;
}

.fa-volume-up {
    padding-right: 8px;
}

.fa-file-alt {
    padding-left: 1px;
    padding-right: 13px;
}

.fa-clone {
    padding-right: 10px;
}

.fa-meteor {
    padding-right: 10px;
}

.deck-page-learn h3 {
    font-size: 12px;
    color: $light-gray;
    margin: 0;
}

.deck-page-learn a, h3 {
    padding-bottom: 15px;
}

.deck-page-flip {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.flip-card {
  background-color: transparent;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// line-height: 200px;
  width: 450px;
  height: 290px;
  font-size: 32px;
  perspective: 1000px;
}



.flip-card-inner {
//   display: flex;
//   justify-content: center;
//   align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 10px $gray;
}

.flip-card p {
    
}

// .flip-card:hover .flip-card-inner {
//   transform: rotateX(180deg);
// }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: $white;
}

.flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
  transform: rotateX(180deg);
}

.deck-page-card-next {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.deck-page-card-switch {
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-size: 12px;
}

.deck-page-card-switch button:hover {
  transition: color 0.15s ease;
    color: $yellow;
}

.deck-page-deck-options {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fa-info {
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
    border: 1px solid $lightest-gray;
    
}

.deck-options-left h4 {
    margin: 0px;
    font-size: 11px;
    color: $light-gray;
}

.deck-options-left h3 {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 16px;
    color: $dark-gray;
}

.deck-options-right i {
    margin-left: 5px;
}

.deck-options-right i:hover {
    transition: color 0.15s ease;
    color: $yellow;
    cursor: pointer;
}

.deck-options-right .fa-plus, .deck-options-right .fa-pen, .deck-options-right .fa-ellipsis-h {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid $lightest-gray;
}

.tooltip-options {
  position: relative;
  display: inline-block;
}

.tooltip-options .tooltiptext-fullscreen {
  visibility: hidden;
  width: 80px;
  background-color: $purple;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 180%;
  left: 50%;
  margin-left: -43px;
  font-size: 12px;
  border-radius: 5px;
}

.tooltip-options .tooltiptext-fullscreen::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent $purple transparent;
}

.tooltip-options:hover .tooltiptext-fullscreen {
  visibility: visible;
}

.tooltip-options .tooltiptext-plus {
  visibility: hidden;
  width: 140px;
  background-color: $purple;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -70px;
  font-size: 12px;
  border-radius: 5px;
}

.tooltip-options .tooltiptext-pen {
  visibility: hidden;
  width: 40px;
  background-color: $purple;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -21px;
  font-size: 12px;
  border-radius: 5px;
}

.tooltip-options .tooltiptext-info {
  visibility: hidden;
  width: 40px;
  background-color: $purple;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -21px;
  font-size: 12px;
  border-radius: 5px;
}

.tooltip-options .tooltiptext-plus::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent $purple transparent;
}

.tooltip-options:hover .tooltiptext-plus {
  visibility: visible;
}

.tooltip-options .tooltiptext-pen::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent $purple transparent;
}

.tooltip-options:hover .tooltiptext-pen {
  visibility: visible;
}

.tooltip-options .tooltiptext-info::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent $purple transparent;
}

.tooltip-options:hover .tooltiptext-info {
  visibility: visible;
}

/* Dropdown Button */
// .info-dropbtn {
//   background-color: #4CAF50;
//   color: white;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
// }

/* The container <div> - needed to position the dropdown content */
.info-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.info-dropdown-content {
  display: none;
  position: absolute;
  background-color: $purple;
  min-width: 160px;
//   box-shadow: 0px 0px 8px $gray;
  z-index: 1;
  right: 7px;
  top: 50px;
}

/* Links inside the dropdown */
.info-dropdown-content span {
  color: $white;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.copy-link:hover, .trophy-link:hover, .object-link:hover {
    background-color: $yellow;
    color: $dark-gray;
}

.fa-copy {
    padding-right: 11px;
}

.fa-trophy {
    padding-right: 7px;
}

.fa-object-group {
    padding-right: 9px;
}

.fa-trash-alt {
    padding-right: 11px;
}

.trash-link:hover {
    background-color: $red;
    color: $dark-gray;
}

.info-dropdown-content:before {
    content:"";
    position: absolute;
    right: 0px;
    top: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent $purple transparent;
    z-index:2;
}



.info-dropdown:hover .info-dropdown-content {display: block;}

.flip-card div {
    display: flex;
    justify-content: center;
    align-items: center;
}


//info modal
.info-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.show-modal {
    display: block;
}

.info-div-box {
    display: flex;
    flex-direction: column;
  background-color: $white;
  margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
  // height: 620px;
  width: 600px; /* Could be more or less, depending on screen size */
  color: $light-gray;
}

.info-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $purple;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 32px;
    color: $white;
    font-weight: 700;
}

.info-banner h1 {
    background-color: $purple;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-banner div {
    // background-color: $dark-purple;
    border: 3px solid $dark-purple;
    padding: 8px 14px 8px 14px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 18px;
}

.info-banner div:hover {
    background-color: $dark-purple;
}

.info-modal-top {
  background-color: $lightest-gray;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.info-modal-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.info-modal-main a {
  font-size: 15px;
  color: $teal;
  width: 40px;
}

.info-modal-main a:hover {
  transition: color 0.15s ease;
  color: $yellow;
}

.info-modal-main p {
  color: $dark-gray;
  font-size: 13px;
}

.info-modal-description {
  font-size: 18px;
  font-weight: 700;
  color: $dark-gray;
}

.info-modal-description h2 {
  font-size: 17px;
  padding-bottom: 30px;
}

.info-modal-description p {
  font-size: 15px;
  padding-bottom: 40px;
}

.info-modal-boxes {
  display: flex;
  justify-content: space-between;
}

.info-modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 170px;
  background-color: $teal;
}
.info-modal-box:hover {
  transition: background-color 0.15s ease;
  background-color: $yellow;
  cursor: pointer;
}

.info-modal-box h1 {
  padding: 0;
  background-color: transparent;
  color: $white;
  font-size: 48px;
}

.info-modal-box h3 {
  margin: 0;
  color: $white;
  font-size: 13px;
  font-weight: 400;
}

.info-modal-box:hover h1,  .info-modal-box:hover h3 {
  transition: color 0.15s ease;
  color: $dark-gray;
  
}

.info-modal-bottom {
  display: flex;
  margin: 34px;
}

.info-modal-bottom p {
  color: $dark-gray;
  font-size: 12px;
}

.info-modal-visibility {
  padding-right: 50px;
}

.info-modal-vp {
  padding-bottom: 10px;
}

.info-modal-editability, .info-modal-visibility{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//delete modal
.delete-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.show-modal {
    display: block;
}

.delete-div-box {
    display: flex;
    flex-direction: column;
  background-color: $white;
  margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
  // height: 620px;
  width: 600px; /* Could be more or less, depending on screen size */
  color: $light-gray;
}

.delete-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $purple;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 32px;
    color: $white;
    font-weight: 700;
}

.delete-banner h1 {
    background-color: $purple;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.delete-banner div {
    // background-color: $dark-purple;
    border: 3px solid $dark-purple;
    padding: 8px 14px 8px 14px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 18px;
}

.delete-banner div:hover {
    background-color: $dark-purple;
}

.delete-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.delete-content h1 {
  color: $dark-gray;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 40px;
}

.delete-content p {
  color: $dark-gray;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
}

.delete-content strong {
  color: $dark-gray;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: 700;
}

.delete-buttons {
  display: flex;
  justify-content: space-between;
}

.cancel-button, .delete-deck-button {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 260px;
  font-size: 18px;
  color: $white;
  border-radius: 5px;
  text-align: center;
}

.cancel-button {
  background-color: $dark-gray;
}

.cancel-button:hover {
  background-color: $gray;
}

.delete-deck-button {
  background-color: $red;
}

.delete-deck-button:hover {
  background-color: $light-red;
}

.rating-stars {
  font-size: 15px;
}

.rating-purple {
  color: $purple;
  cursor: pointer;
}

.rating-yellow {
  color: $yellow;
}

///////////////////Cards

.deck-page-cards-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}