.big-flashcard-container {
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.big-flashcard-container .deck-page-flip {
  height: 80%;
}

.big-flashcard-container .flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  color: $dark-gray;
}

.big-flashcard-next {
  align-self: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.progress-underneath {
  // display: flex;
  background-color: $light-purple;
  height: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.progress-above {
  background-color: $dark-purple;
  width: 50%;
  height: 12px;
}

.progress-bar-text {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  color: $dark-gray;
  font-size: 13px;
}

.progress-button {
  background-color: $white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  color: $teal;
  font-size: 20px;
}

.big-flashcard-next-options {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-flashcard-container .fa-volume-up {
  font-size: 20px;
  color: $dark-gray;
}

.big-flashcard-container .fa-star {
  font-size: 20px;
}

.game-sidebar .fullscreen-highlighted-button {
  background-color: $yellow;
  color: $dark-gray;
}

.game-sidebar .fullscreen-highlighted-button:hover {
  color: $dark-gray;
}

.study-starred-disabled {
  cursor: initial;
}

.study-starred-disabled-left {
  border-right: 2px solid $lighter-gray;
}