.learn {
  display: flex;
}

.gray-spinner {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

.game-sidebar{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: $white;
    min-height: calc(100vh - 80px);
    position: relative;
    z-index: 1;
}

.go-back {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid $lightest-gray;
}

.go-back:hover {
  cursor: pointer;
}

.go-back:hover i {
  transition: color 0.15s ease;
  color: $yellow;
}

.go-back p {
  color: $dark-gray;
  font-size: 15px;
}

.go-back i {
  color: $teal;
  padding-right: 10px;
  font-size: 18px;
}

.game-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-sidebar-header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.game-sidebar-header i {
  color: $purple;
  font-size: 26px;
  padding-right: 15px;
}

.game-sidebar-header p {
  color: $dark-gray;
  font-size: 16px;
  font-weight: 700;
}

.learn-card {
  background-color: $white;
  display: flex;
  height: 100%;
  // flex: 0.5;
  // height: 600px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  border-top: 5px solid $light-purple;
}

.learn-card-inner {
  padding-bottom: 30px;
  
  display: flex;
  // flex: 0.5;
  min-height: 300px;
  min-width: 500px;
  flex-direction: column;
  justify-content: space-between;
}

.learn-card-question {
  font-size: 32px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
}

.learn-card-question i {
  font-size: 24px;
}

.learn-card-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.learn-card-answers span {
  // padding-top: 5px;
  // padding-bottom: 5px;
  font-size: 12px;
}

.learn-card-answer {
  border: 2px solid $teal;
  padding: 15px 10px;
  width: 200px;
  border-radius: 5px;
  position: relative;
  margin: 10px;
}

.learn-card-correct {
  border: 2px solid $green;
  padding: 15px 10px;
  width: 200px;
  border-radius: 5px;
  position: relative;
  margin: 10px;
  background-color: $green;
}

.learn-card-answer:hover {
  border: 2px solid $yellow;
  cursor: pointer;
}

.learn-answer-circle {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid $light-gray;
  position: absolute;
  text-align: center;
  background-color: $white;
  color: $light-gray;
  box-shadow: 0 0 0 3pt $white;
  top: 0px;
  left: -10px;
}

.learn-mastery-counts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-mastery-counts > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-mastery-counts > div > div{
  display: flex;
  align-items: center;
}

.learn-mastery-counts > div > div i {
  font-size: 12px;
  color: $dark-gray;
  padding-left: 10px;
}

.learn-mastery-counts span {
  font-size: 22px;
  padding-bottom: 5px;
}

.learn-mastery-counts p {
  font-size: 12px;
  padding-bottom: 25px;
}

.learn-mastery-counts i {
  font-size: 22px;
  color: $lighter-gray;
  padding-bottom: 25px;
}

.learn-mastery span {
  color: $green;
}
#learn-familiar-0 {
  color: $dark-gray;
}

#learn-mastery-0 {
  color: $dark-gray;
}

.learn-options-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $lighter-gray;
  border-radius: 5px;
  padding: 12px;
  margin: 20px;
  color: $teal;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.learn-options-button i {
  padding-right: 10px;
}

.learn-options-button:hover {
  transition: color 0.15s ease;
  color: $yellow;
}

//options modal
.options-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.show-modal {
    display: block;
}

.options-div-box {
    display: flex;
    flex-direction: column;
  background-color: $white;
  margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
  // height: 620px;
  width: 600px; /* Could be more or less, depending on screen size */
  color: $light-gray;
}

.options-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $purple;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 32px;
    color: $white;
    font-weight: 700;
}

.options-banner h1 {
    background-color: $purple;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.options-banner div {
    // background-color: $dark-purple;
    border: 3px solid $dark-purple;
    padding: 8px 14px 8px 14px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 18px;
}

.options-banner div:hover {
    background-color: $dark-purple;
}

.options-content {
  background-color: $white;
}

.options-content span {
  color: $dark-gray;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
}

.options-content p {
  color: $teal;
  font-size: 14px;
  font-weight: 700;
}

.options-content p:hover {
  transition: color 0.15s ease;
  color: $yellow;
  cursor: pointer;
}

.options-radio-div {
  display: flex;
  flex-direction: column;
}

.options-reset-div {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
}

.options-radio-div button {
  padding: 8px 20px;
  font-size: 15px;
}

.options-radio-div button:first-of-type {
  border-left: 2px solid $lighter-gray;
  border-top: 2px solid $lighter-gray;
  border-bottom: 2px solid $lighter-gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.options-radio-div button:last-of-type {
  border-right: 2px solid $lighter-gray;
  border-top: 2px solid $lighter-gray;
  border-bottom: 2px solid $lighter-gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.options-selected {
  background-color: $yellow;
  color: $dark-gray;
}

.options-unselected {
  background-color: $white;
  color: $teal;
}

.options-unselected:hover {
  transition: color 0.15s ease;
  color: $yellow;
}

.options-top {
  display: flex;
  padding: 25px;
  border-bottom: 1px solid $lightest-gray;
}

.options-bottom {
  display: flex;
  padding: 25px;
}

.options-audio-div {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
}

//select-drop-down

.options-field {
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    font-size: 13px;
}

.options-field select{
    height: 38px;
    width: 120px;
    background-color: $white;
    font-family: $cabin;
    font-size: 15px;
    color: $teal;
    border: 2px solid $lighter-gray;
}

.options-field select:hover{
    transition: color 0.2s ease;
    color: $yellow;
    cursor: pointer;
}

.text-to-speech{
  background-color: red;
}

.learn-wrong-answer {
  min-width: 500px;
}

.learn-wrong-answer .fa-volume-up {
  padding-left: 10px;
}

// .learn-wrong-answer span {
//   padding-bottom: 15px;
// }

.learn-wrong-answer-top {
  border-bottom: 1px solid $lightest-gray;
  padding: 20px 30px;
}

.learn-wrong-answer-top span {
  font-size: 36px;
  font-weight: 700;
  color: $red;
}

.learn-wrong-answer-mid {
  margin: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid $lightest-gray;
}

.learn-wrong-answer-mid span {
  font-size: 12px;
  padding-bottom: 15px;
}

.learn-wrong-answer p {
  padding-top: 15px;
}

.learn-wrong-answer-mid div {
  display: flex;
  justify-content: space-between;
}

.learn-wrong-answer-bottom div {
  display: flex;
  justify-content: space-between;
}

.learn-wrong-answer-mid span:first-of-type {
  color: $gray;
}

.learn-wrong-answer-mid span:last-of-type {
  color: $green;
}

.learn-wrong-answer-mid p:first-of-type {
  padding-bottom: 20px;
}

.learn-wrong-answer-bottom {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.learn-wrong-answer-bottom span {
  color: $red;
  font-size: 12px;
}

.learn-wrong-answer-bottom > button {
  color: $white;
  background-color: $teal;
  font-size: 18px;
  padding: 15px 25px;
  margin-top: 20px;
  border-radius: 5px;
  align-self: center;
}

.learn-wrong-answer-bottom > button:hover {
  transition: color 0.15s ease;
  transition: background-color 0.15s ease;
  color: $dark-gray;
  background-color: $yellow;
}

.learn-finished {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learn-finished span {
  font-size: 64px;
}

.learn-finished h1 {
  font-size: 32px;
  font-weight: 700;
  padding-top: 20px;
}

.learn-finished p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.learn-finished button {
  color: $white;
  background-color: $teal;
  font-size: 16px;
  padding: 15px 25px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.learn-finished button:hover {
  transition: color 0.15s ease;
  transition: background-color 0.15s ease;
  color: $dark-gray;
  background-color: $yellow;
}

.learn-finished a {
  font-size: 16px;
  color: $teal
}

.learn-finished a:hover {
  transition: color 0.15s ease;
  color: $yellow;
}