.recent {
    // margin-left: 270px;
//    width: 100px;
    flex: 1;
    
    color: $dark-gray;
}

.recent-bottom {
  padding: 40px;
}


.user-header {
  background-color: $white;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.user-header-right {
  display: flex;
  flex-direction: column;
}

.user-header-right h1 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}

.user-header-links {
  display: flex;
  color: $teal;
}

.user-header-links a {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid $lighter-gray;
  border-right: 0px;
  // border-radius: 5px;
  font-size: 15px;
}

.user-header-links a:hover {
  color: $yellow;
}

.user-header-links .user-header-selected:hover {
  color: $dark-gray;
}

.user-header-links a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user-header-links a:last-child {
  border-right: 2px solid $lighter-gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-header-selected {
  background-color: $yellow;
  color: $dark-gray;
}

.small-deck-tile {
  background-color: $white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 1px $lighter-gray;
  border-radius: 2px;
}

.small-deck-tile:hover {
  border-bottom: 4px solid $yellow;
  padding-bottom: 11px;
}

.small-deck-tile-top {
  display: flex;
  padding-bottom: 5px;
}

.small-deck-tile-top p {
  padding-right: 8px;
  
}

.small-deck-tile-top a {
  padding-left: 8px;
  color: $teal;
  border-left: 2px solid $lightest-gray;
}

.small-deck-tile-top a:hover {
  transition: color 0.15s ease;
  color: $yellow;
}

.small-deck-tile-bottom h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.small-deck-tile-bottom .fa-lock {
  font-size: 16px;
  color: $light-gray;
  padding-left: 5px;
}